header {
  background-color: #0d0b11;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  .header-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: relative;

    .label {
      color: #ffffff;
      font-size: 20px;
      height: auto;
      height: 30px;

      @media (max-width: 1200px) {
        margin-left: 30px;
      }
    }

    nav {
      height: 20px;

      @media (max-width: 1200px) {
        margin-right: 30px;
      }
      @media (max-width: 768px) {
        display: none;
        margin: 0;
      }

      .nav-list {
        display: flex;

        &_item {
          margin-right: 50px;
          height: auto;
          &:last-child {
            margin-right: 0;
          }
        }

        &_link {
          transition: all 1s ease;
          cursor: pointer;
          font-size: 14px;
          &.active {
            color: #bb5d05;
          }

          &:hover {
            color: #98a1b9;
          }
        }
      }
    }
  }
}
